.dataTableBox {
  .dataTablBtns {
    .btnT {
      background: red;
    }
  }
}

.submitActionBox {
  background-color: #fff;
  border-color: var(--AdminMain2);
  color: var(--AdminMain);
  min-width: 160px;
  padding: 10px 10px;
}
